{% extends 'base.html' %}
<!-- admin_base.html -->
{% block title %}Administrator {% endblock %}
{% block header %}
    <div class="sidebar">
        <h2> Administrator </h2>

        <ul id="adminboard">
            <li><a class="sidebarAction" href="{{ url_for('admin_info.total_risk') }}">Overall Risk</a></li>
            <li><a class="sidebarAction" href="{{ url_for('admin_info.view_users') }}">All Users</a></li>
        </ul>
        <form id="adminOrders" action="{{ url_for('admin_info.view_orders') }}" method="post">
            <label for="start-date">From:</label>
            <input type="date" name="start-date" id="start-date">
            <label for="end-date">To:</label>
            <input type="date" name="end-date" id="end-date">
            <input type="submit" value="View Orders">
        </form>
    </div>


    <!-- Set today as default date -->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('start-date').value = today;
            document.getElementById('end-date').value = today;
            document.getElementById('end-date').max = today;
        });
    </script>
{% endblock %}

{% block flash %}
    {% for message in get_flashed_messages() %}
    <section class="account_flash">{{ message }}</section>
    {% endfor %}

    <script>
        window.onload = function() {
            const flashMessages = document.querySelectorAll('.account_flash');
            flashMessages.forEach(function(flash) {
                setTimeout(function() {
                    flash.style.display = 'none'; 
                }, 10000); 
            });
        };
    </script>
{% endblock %}