<!doctype html>
<title>{% block title %}{% endblock %} | BigBucks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1><a href="{{ url_for('index') }}">BigBucks</a></h1>
    <div id="search">
        <form id="stockForm" action="{{ url_for('stock_info.info') }}" method="post">
            <input name="stockSymbol" id="stockSymbol" placeholder="Search Stock" required>
            <button id="submit" type="submit">Search</button>
        </form>
    </div>
    <ul id="navBar">
        <li><a href="{{ url_for('index') }}">Homepage</a></li>
        {% if g.user %}
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% if g.user['username'] != "__admin__" %}
                <li><a href="{{ url_for('user_info.account', user_id=g.user['id']) }}">Account</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<body>
    <header>

    {% block header %}{% endblock %}
    </header>

    {% block flash %}
        {% for message in get_flashed_messages() %}
        <section class="flash">{{ message }}</section>
        {% endfor %}

        <script>
            window.onload = function() {
                const flashMessages = document.querySelectorAll('.flash');
                flashMessages.forEach(function(flash) {
                    setTimeout(function() {
                        flash.style.display = 'none'; 
                    }, 10000); 
                });
            };
        </script>
            
    {% endblock %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="account_content">
        {% block account %}{% endblock %}
    </div>
</body>
