{% extends 'base.html' %}
<!-- user_base.html -->
{% block title %} Account {% endblock %}
{% block header %}
    <div class="sidebar">
        <h2> {{ g.user['username'] }} </h2>

        <ul id="userboard">
            <li><a class="sidebarAction" href="{{ url_for('user_info.account', user_id = g.user['id']) }}">Overview</a></li>
            <li><a class="sidebarAction" href="{{ url_for('user_info.investment', user_id = g.user['id']) }}">Investment</a></li>
            <li><a class="sidebarAction" href="{{ url_for('user_info.history', user_id = g.user['id']) }}">History</a></li>
            <li><a class="sidebarAction" href="{{ url_for('user_info.analysis', user_id = g.user['id']) }}">Analysis</a></li>
        </ul>
    </div>
{% endblock %}

{% block flash %}
    {% for message in get_flashed_messages() %}
    <section class="account_flash">{{ message }}</section>
    {% endfor %}

    <script>
        window.onload = function() {
            const flashMessages = document.querySelectorAll('.account_flash');
            flashMessages.forEach(function(flash) {
                setTimeout(function() {
                    flash.style.display = 'none'; 
                }, 10000); 
            });
        };
    </script>
{% endblock %}