{% if empty %}
<p >Your watchlist is empty</p>
{% else %}
<table id="watchlist">
    <thead>
        <!-- Header row -->
        <tr>
            {% for key in watchlist_data["keys"] %}
            <td>
                {{ key }}
            </td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- Table content -->
        {% for row in range(watchlist_data["row_num"]) %}
        <tr>
            <td>
                <a class="watchlist_symbol" href="{{ url_for('stock_info.info', symbol=watchlist_data['symbols'][row]) }}">{{ watchlist_data["symbols"][row] }}</a>
            </td>
            <td>
                {{ watchlist_data["prices"][row] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}