{% extends 'base.html' %}

{% block title %} {{symbol}} {% endblock %}

{% block content %}
    <section class="overview">
        <h2> Advanced Analysis</h2>
        <a class="click" href="{{ url_for('stock_info.info', symbol=symbol) }}">Back to {{symbol}}</a>

        <div class="select_time">
            Select Time
            <select id="timeRangeSelector">
                <option value="30">1 Month</option>
                <option value="90">3 Month</option>
                <option value="252" selected>1 Year</option>
                <option value="all">5 Year</option>
            </select>
        </div>
    </section>

    <!-- 14.1 -->
    <section class="bigGraph">
        <div id="graph14_1"></div>
    </section>
    <!-- 14.2 -->
    <section class="graph">
        <div id="graph14_2"></div>
    </section>
    <!-- 14.3 -->
    <section class="graph">
        <div id="graph14_3"></div>
    </section>
    <!-- 14.4 -->
    <section class="graph">
        <div id="graph14_4"></div>
    </section>
    <!-- 7.1 -->
    <section class="graph">
        <div id="graph7_1"></div>
    </section>
    <!-- 7.2 -->
    <section class="graph">
        <div id="graph7_2"></div>
    </section>
    <!-- 7.3 -->
    <section class="graph">
        <div id="graph7_3"></div>
    </section>

    <script src="{{url_for('static', filename='plot.js')}}"></script>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

    <script>
        var symbol = {{ symbol | tojson }};
        var stock_data = {{ stock_data | tojson }};
        var stock_returns = {{ stock_returns | tojson }};
        var stock_diff = {{ stock_diff | tojson }};
        var spy_data = {{ spy_data | tojson }};
        var spy_returns = {{ spy_returns | tojson }};
        var spy_diff = {{ spy_diff | tojson }};
        var alpha = {{ alpha | tojson }};
        var beta = {{ beta | tojson }};
        var stock_date = {{ stock_data['date'] | tojson }};

        function updatePlot(timeRange) {
            var slice_index;
            if (timeRange === 'all') {
                slice_index = -stock_data['date'].length; // get all data
            } else {
                if (stock_data['date'].length < timeRange) {
                    timeRange = stock_data['date'].length;
                }
                slice_index = -parseInt(timeRange); // get last N index
            }
            
            plot7_1(symbol, stock_date, stock_diff, spy_diff, slice_index-1);
            plot7_2(symbol, stock_date, stock_returns, spy_returns, slice_index-1);
            plot7_3(symbol, stock_returns, spy_returns, alpha, beta);
            plot14_1(symbol, stock_data, slice_index);
            plot14_2(symbol, stock_data, stock_returns, slice_index-1);
            plot14_3(symbol, stock_returns, slice_index-1);
            plot14_4(symbol, stock_returns, slice_index-1);
        }

        // default 1-year
        updatePlot('252');

        // add a listener to keep track of change
        document.getElementById('timeRangeSelector').addEventListener('change', function() {
            updatePlot(this.value);
        });
    </script>
{% endblock %}