{% extends 'base.html' %}

{% block title %} BigBucks {% endblock %}

{% block content %}

    <section class="bigGraph">
        <h2>S&P500 ETF</h2>

        <!-- add range -->
        <div class="select_time">
            Select Time
            <select id="timeRangeSelector">
                <option value="30">1 Month</option>
                <option value="90">3 Month</option>
                <option value="252" selected>1 Year</option>
                <option value="all">5 Year</option>
            </select>
        </div>
        <div id="graph_spy"></div>
    </section>



    <section id="trending">
        <h2>Trending on BigBucks</h2>
        {% if trending_stocks.error %}
            <p> - {{ trending_stocks.error }}</p>
        {% else %} 
            <table id="trending_symbols">
                <tbody>
                    <!-- Table content -->
                    {% for symbol in trending_stocks["symbols"] %}
                    <tr>
                        <td>
                            <a class="watchlist_symbol" href="{{ url_for('stock_info.info', symbol=symbol) }}">{{ symbol }}</a>
                        </td>
                        <td>
                            {{ trending_stocks["prices"][loop.index0] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </table>
        {% endif %}
    </section>

    <section class="news">
        <h2>Recent Headlines</h2>
        <ul>
        {% for i in news_data %}
            <li>
                <a class="news_title" target="_blank" id={{ i }} href="{{ news_data[i]["url"] }}">{{ news_data[i]["title"] }}</a>
                <p class="preview"> - {{ news_data[i]["summary"] }}</p>
            </li>
        {% endfor %}
        </ul>
    </section>


    <script src="{{url_for('static', filename='plot.js')}}"></script>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
    <script>
        var spy_data = {{ spy_data | tojson }};

        function updatePlot(timeRange) {
            var slice_index;
            if (timeRange === 'all') {
                slice_index = -spy_data['date'].length; // get all data
            } else {
                if (spy_data['date'].length < timeRange) {
                    timeRange = spy_data['date'].length;
                }
                slice_index = -parseInt(timeRange); // get last N index
            }
            
            plot_spy(spy_data, slice_index)
        }

        // default 1-year
        updatePlot('252');

        // add a listener to keep track of change
        document.getElementById('timeRangeSelector').addEventListener('change', function() {
            updatePlot(this.value);
        });
    </script>


{% endblock %}