{% extends 'base.html' %}
{% block title %} {{ symbol }} {% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    <!-- Stock Price Chart -->
    <section class="bigGraph">
        <h2>{{ symbol }}</h2>

        <!-- Advanced Charts -->
        <a class="click" href="{{ url_for('stock_info.chart', symbol=symbol) }}">Advanced Analysis</a>

        <!-- add range -->
        <div class="select_time">
            Select Time
            <select id="timeRangeSelector">
                <option value="30">1 Month</option>
                <option value="90">3 Month</option>
                <option value="252" selected>1 Year</option>
                <option value="all">5 Year</option>
            </select>
        </div>
        <div id="candlestickGraph"></div>
    </section>

    <section class="overview">
    {% if g.user and g.user['id'] != 1 %}
    <div class="orderForm">
        <div class="orderSection">
            <form action="{{ url_for('stock_info.submit_order', order_type='buy', symbol=symbol) }}" method="post">
                <label for="order_quantity">Buy {{ symbol }} :</label>
                <input class="order_input" type="number" min="0" name="order_quantity" required>
                <button type="submit">Trade now</button>
            </form>
        </div>
        <div class="orderSection">
            <form action="{{ url_for('stock_info.submit_order', order_type='sell', symbol=symbol) }}" method="post">
                <label for="order_quantity">Sell {{ symbol }} :</label>
                <input class="order_input" type="number" min="0" name="order_quantity" required>
                <button type="submit">Trade now</button>
            </form>
        </div>
            <a class="click" href="{{ url_for('user_info.watchlist', user_id=g.user['id'], type='add', symbol=symbol) }}">Add to Watchlist</a>

            <a class="click" href="{{ url_for('user_info.watchlist', user_id=g.user['id'], type='remove', symbol=symbol) }}">Remove from Watchlist</a>
    </div>
    {% endif %}
        <h2>Stock Information for {{ symbol }}</h2>
        {% if stock_overview %}
            <ul>
                <li>Listed on: {{ stock_overview["Exchange"] }}</li>
                <li>Company Name: {{ stock_overview["Name"] }}</li>
                <li>Sector: {{ stock_overview["Industry"] }}</li>
                <li>Market Cap: {{ stock_overview["MarketCapitalization"] }}</li>
                <li>PE Ratio: {{ stock_overview["PERatio"] }}</li>
                <li>EPS: {{ stock_overview["EPS"] }}</li>
                <li>Dividend Per Share: {{ stock_overview["DividendPerShare"] }}</li>
                <li>Dividend Yield: {{ stock_overview["DividendYield"] }}</li>
                <li>52 Week High: $ {{ stock_overview["52WeekHigh"] }}</li>
                <li>52 Week Low: $ {{ stock_overview["52WeekLow"] }}</li>
            </ul>
        {% else %}
            <ul><li>AlphaVantage does not have information for {{symbol}}</li></ul>
        {% endif %}
    </section>




    <!-- Display news headlines -->
    <section class="news">
        <h2>Recent Headlines for {{ symbol }}</h2>
        <ul>
        {% for i in news_data %}
            <li>
                <a class="news_title" target="_blank" id={{ i }} href="{{ news_data[i]["url"] }}">{{ news_data[i]["title"] }}</a>
                <p class="preview"> - {{ news_data[i]["summary"] }}</p>
            </li>
        {% endfor %}
        </ul>
    </section>
    
        
    <script src="{{url_for('static', filename='plot.js')}}"></script>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

    <script>
        var symbol = "{{ symbol }}";
        var plot_data = {{ plot_data | tojson }};
        var ma_data = {{ ma_data | tojson }};
        function updatePlot(timeRange) {
            var slice_index;
            if (timeRange === 'all') {
                slice_index = -plot_data['date'].length; // get all data
            } else {
                if (plot_data['date'].length < timeRange) {
                    timeRange = plot_data['date'].length;
                }
                slice_index = -parseInt(timeRange); // get last N index
            }
            
            makePlot(plot_data, ma_data, symbol, slice_index);
        }
        
        // default 1-year
        updatePlot('252');
        
        // add a listener to keep track of change
        document.getElementById('timeRangeSelector').addEventListener('change', function() {
            updatePlot(this.value);
        });
    </script>

{% endblock %}