{% extends 'base.html' %}

{% block title %} Submit Order {% endblock %}

{% block content %}   
    <section class="confirmation">
        {% if message.error %}
            <p class="error">{{ message.error }}</p>
        {% else %}
            <h2> Order Submission </h2>
            <p>
                Do you want to {{ message.type }} {{ message.quantity }} shares of {{ message.symbol }} at ${{message.price}} per share?
            </p>
            <p>
                Your account balance after this transaction will be ${{ message.new_balance}}
            </p>
            <p></p>
            <form action="{{ url_for('stock_info.execute_order', order_type=message.type, symbol=message.symbol ) }}" method="post">
                <input type="hidden" name="new_balance" value="{{ message.new_balance }}">
                <input type="hidden" name="price" value="{{ message.price }}">
                <input type="hidden" name="quantity" value="{{ message.quantity }}">
                <input type="hidden" name="volume" value="{{ message.volume }}">
                <button id="trade_now" type="submit">Trade now</button>
            </form>
        {% endif %}

        <form action="{{ url_for('stock_info.info') }}" method="post">
            <input type="hidden" name="stockSymbol" value="{{ message.symbol }}">
            <button type="submit">Back to {{ message.symbol }}</button>
        </form>
    </section>
{% endblock %}