{% extends 'base.html' %}

{% block title %} Order Confirmation {% endblock %}

{% block content %}   
    <section class="confirmation">
        <h2> Order Confirmation </h2>
        <p> You have successfully executed the order. </p>
        <p> You {{ message.type }} {{ message.order_quantity }} of {{ message.symbol }} at {{ message.time }}.</p>
        <p> Your current position for {{ message.symbol }}: </p>
        <ul>
            <li>Average cost: ${{ message.average_price}}</li>
            <li>Shares: {{ message.total_quantity}} </li>
            <li>Market value: ${{ message.total_volume}} </li>
        </ul>

        <form action="{{ url_for('stock_info.info') }}" method="post">
            <input type="hidden" name="stockSymbol" value="{{ message.symbol }}">
            <button type="submit">Back to {{ message.symbol }}</button>
        </form>
    </section>
{% endblock %}