{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<section class="auth">
  <h2>Log In</h2>
  <form method="post">
    <div><input name="username" id="username" placeholder="Username" required></div>
    <div><input type="password" name="password" id="password" placeholder="Password" required></div>
    <div><input type="submit" value="Log In"></div>
  </form>
  <div><a class="click" href="{{ url_for('auth.reset_password') }}">Forget Password</a></div>
</section>
{% endblock %}