{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<section class="auth">
  <h2>Reset Password</h2>

  <form method="post">
    <div><input name="username" id="username" placeholder="Username" required></div>
    <div><input type="password" name="password" id="password" placeholder="Password" required></div>
    <div><input type="submit" value="Reset Password"></div>
  </form>
</section>
{% endblock %}