{% extends 'admin_base.html' %}

{% block account %}
    <section class="overview">
        <h2> User Portfolio</h2>
        <div class="select_time">
            Select a User ID:
            <select id="userIdSelect">
                <option value="-1">User ID</option>
                {% for user_id in unique_user_id %}
                    <option value="{{ user_id }}">{{ user_id }}</option>
                {% endfor %}
            </select>
        </div>
        <table id="portfolioTable">
            <thead>
                <!-- Header row -->
                <tr>
                    {% for key in keys %}
                    <td>{{ key }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Table content -->
                {% for row in range(row_num) %}
                <tr class="data-row">
                    {% for key in keys %}
                    <td>
                        {{ ptfl_data[key][row] }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <script>
        document.getElementById('userIdSelect').addEventListener('change', function() {
            var selectedUserId = parseInt(this.value);
            var rows = document.querySelectorAll('#portfolioTable .data-row');
            rows.forEach(function(row) {
                var userId = parseInt(row.cells[0].textContent);
                if (selectedUserId === -1 || userId === selectedUserId) {
                    row.style.display = ''; // Show the row
                } else {
                    row.style.display = 'none'; // Hide the row
                }
            });
        });
    </script>
{% endblock %}