/* #lineGraph #candlestickGraph {
    width: 800px;
    height: 800px;
} */

/* .js-plotly-plot {
    height: 750px;
} */

/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    background-color: #001A57; /* Duke's blue color */
    color: #fff;
    padding: 10px 20px;
}

nav h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
}

nav ul li span {
    color: #ddd; /* Light gray for user name, not to take focus away from navigation */
}

/* Content and forms */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    background-color: #fafafa;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

form {
    display: flex;
    align-items: center;
}

form label {
    margin-right: 10px;
}

form input {
    border: 1px solid #ccc;
    padding: 3px;
    margin-right: 10px;
    width: calc(20% - 42px); /* Adjust width considering padding and border */
    display: inline-block; /* Allows to set a width */
    box-sizing: border-box; /* Ensures padding is included in width */
}

form button, input[type="submit"], a{
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: #001A57; /* Duke's blue */
    border: none;
    color: white;
    cursor: pointer;
    width: auto; /* Will size according to text content by default */
    height: auto;
    box-sizing: border-box; /* Ensures padding is included in width */
    display: inline-block; /* Allows to set a width */
}

form button:hover {
    background-color: #000033; /* A darker shade of Duke's blue for hover effect */
}


/* Flash message styling */
.flash {
    background-color: #e2e2f0;
    color: #000;
    border-left: 5px solid #001A57; /* Duke's blue */
    padding: 5px;
    margin-top: 10px;
}


#user_dashboard li {
    height: 12px;
    display: inline;
    list-style-type: none; /* Remove bullet points from list items */
    padding: 8px 12px; /* Padding for each list item */
}

#user_dashboard a {
    background-color: whitesmoke;
    display: block; /* Make the links fill the container */
    text-decoration: none; /* Remove the underline */
    color: #333; /* Default text color */
    border-bottom: 1px solid #ddd; /* Add a separator between links */
}

#user_dashboard a:hover {
    background-color: #e9e9e9; /* Change background on hover */
}

