section { 
    z-index: 1000;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1); 
    padding: 15px;          
    margin: 10px;      
    background-color: white;
};

ul {
    padding: 10px;
}

body {
    margin: 60px 0px 0px 0px;
    padding: 0px;
    background-color: rgba(245, 245, 245, 0.6);
    font-family: Helvetica;
}

h1 {
    font-family: serif;
}

section.overview {
    width: 400px;
}

.flash {
    display: block;
}

.account_flash {
    display: block; 
    margin-left: 230px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.graph {
    width: 600px;
}

.bigGraph {
    width: 900px;
}

section.news {
    width: 1350px;
}

/* div.graph div.bigGraph {
    width: 100%;
} */

h2 {
    margin: 5px 5px 10px 5px;
}

#stockSymbol {
    margin: 0px 5px 0px auto;
    width: 70%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: cadetblue;
    z-index: 2000;
    justify-content: space-between;
}

nav > h1 {
    margin: 10px auto 10px 5px;
    padding: 0px 5px 0px 15px;
    flex-grow: 1; 
}

#search {
    padding: 5px;          
    margin: 5px auto;  
    flex-grow: 1; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search > form {
    width: 100%;    
    display: flex;
    flex-direction: row;
}

#navBar {
    flex-grow: 1;  
    padding: 0px 15px 0px 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    justify-content: right;
}

#navBar > li {
    margin: 0px 10px;
}

.sidebar {
    background-color: white;
    z-index: 1500;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 200px;
    padding: 10px;
    border-right: 2px solid rgba(0,0,0,0.1);
}

ul {
    list-style: none; 
    padding: 0px 10px 0px 10px;
}

li {
    padding: 5px 0px 5px 0px;
}


.sidebar > ul {
    margin: 0px 10px;
    padding: 5px 5px;
}

.sidebar > ul > li{
    padding: 5px 5px;
}

.sidebar > form {
    margin: 0px 10px;
    padding: 10px 10px;
}


.account_content {
    margin-left: 223px;
    width: calc(100% - 223px);
    display: flex;
    flex-wrap: wrap;
}

.orderForm {
    width: 95%;
    z-index: 1100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 15px 8px;
}

.order_input {
    width: 30%;
    margin: 10px, auto, 10px, auto;
}

.auth {
    margin: 10px auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    margin: 10px 0px;
    width: 150px;
}

.click {
    display: inline-block;
    padding: 3px 12px;
    margin: 3px;
    border: 1px solid rgb(225, 233, 251);
    border-radius: 13px;
    background-color: rgb(225, 233, 251);
    color: rgba(0,0,0,0.8);
    text-align: center;
    text-decoration: none; 
    font-size: 12pt;
    font-weight: 200;
}

.click:hover {
    border: 1px solid rgb(184, 202, 243);
    background-color: rgb(184, 202, 243);
}

.sidebarAction {
    color: rgba(0,0,0,0.8);
    display: inline-block;
    padding: 3px 7px;
    margin: 3px;
    text-align: center;
    text-decoration: none; 
    font-size: 14pt;
    font-weight: 200;
}

.sidebarAction:hover {
    color:#f7663a;
}

#orderSection {
    padding: 10px;
}

label {
    display: inline-block; /* 或者 block，取决于你的布局需求 */
    width: 10   0px; /* 设置你需要的宽度 */
}

button {
    font-size: 10pt;
}

table {
    width: 100%; /* 设置表格宽度占满整个容器 */
    border-collapse: collapse; /* 边框合并为单一边框 */
}
th, td {
    border: 1px solid #dddddd; /* 设置单元格边框 */
    text-align: left; /* 左对齐文本 */
    padding: 8px; /* 设置单元格内边距 */
}
th {
    background-color: #f2f2f2; /* 设置标题背景色 */
}
tr:nth-child(even) {
    background-color: #f9f9f9; /* 为偶数行设置背景色 */
}

.select_time {
    color: rgba(0,0,0,0.8);
    font-size: 12pt;
    margin: 3px;
    width: 200px;
    padding: 2px 12px;
    border: 1px solid rgb(225, 233, 251);
    border-radius: 13px;
    background-color: rgb(225, 233, 251);
    align-items: center;
}

#adminOrders {
    z-index: 1600;
    margin: 10px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1); 
    padding: 10px;   
}

a {
    color: rgba(0,0,0,0.8);
    text-decoration: none; 
}

a:visited {
    color: rgba(0,0,0,0.8);
}

#navBar > li > a {
    color: rgba(0,0,0,0.8);
}

#navBar > li > a:hover {
    color:gold;
}

.orderSection {
    background-color: whitesmoke;
    margin: 10px 2px;
    padding: 2px 12px;
    border-radius: 12px;
    width: 92.5%
}

input, select, button {
    border-radius: 12px;
}

input {
    padding-left: 10px;
    border: 1px solid rgba(0,0,0,0.8);
}

button {
    padding: 0px 8px;
    border: 1px solid rgba(0,0,0,0.8);
}

button:hover {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.4);
}

.watchlist_symbol:hover {
    color:#f7663a;
}

.news_title:hover {
    color:#f7663a;
}

.preview {
    color: rgba(0,0,0,0.6);
}

#trade_now {
    margin-bottom: 10px;
}

#trending {
    width: 300px;
}



section {
    flex: 1 0 auto; /* 设置弹性增长，不允许缩小，自动基础尺寸 */
    max-width: 100% - 230px; /* 确保部分不会超出父容器 */
}