{% extends 'user_base.html' %}
{% block account %}

    <section class="overview">
        <h2> Your Investment </h2>
        <ul>
            <li>Total individual value: ${{ holding_data["total_holding"] }}</li>
            <li>Individual holdings: ${{ holding_data["holding"] }} </li>
            <li>Individual cash: ${{ holding_data["cash"] }} </li>
        </ul>

        <h2> Your Watchlist </h2>
        {% include 'watchlist_base.html' %}
    </section>

    <section class="graph">
        <h2> Portfolio Overview </h2>
        {% if empty_ptfl %}
            <p> You have not created a portfolio yet. </p>
        {% else %}
            <div id="pieChart"></div>
            <script src="{{url_for('static', filename='plot.js')}}"></script>
            <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
            <script>
                var symbol = {{ piechart_data["symbol"] | tojson }};
                var quantity = "{{ piechart_data["quantity"] }}";
                var diversity = "{{ piechart_data["diversity"] }}";
                ptfl_pie_chart(symbol, quantity, diversity);
            </script>
        {% endif %}
    </section>
    


{% endblock %}