{% extends 'user_base.html' %}

{% block title %} Analysis {% endblock %}

{% block account %}
    {% if message == "no error" %}
        <section class="overview">
            <h2>Analysis</h2>
            <ul>
            <li> Your portfolio's Sharpe ratio: {{ sharpe_data["sharpe_ratio"] }} </li>
            <li>The total return of your portfolio: {{ sharpe_data["r_p"]}} &#37;</li>
            <li>The total risk of your portfolio: {{ sharpe_data["sigma_p"]}} &#37;</li>
            <li> The 95% Value at Risk (absolute): {{ VaR_data["VaR Absolute"] }}</li>
            <li> The 95% Value at Risk (+/- return): {{ VaR_data["VaR Diff"] }}</li>
            </ul>
        </section>
        <section class="graph">
            <h2>Efficient Frontier</h2>
            <div id="efficientFrontier"></div>
        </section>
        <script src="{{url_for('static', filename='plot.js')}}"></script>
        <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
        <script>

            var expectedReturns = {{ EF_data["return"] | tojson }};
            var standardDeviations = {{ EF_data["stdev"] | tojson}};
            var userReturn = {{ sharpe_data["r_p"] | tojson }};
            var userStd = {{ sharpe_data["sigma_p"] | tojson }};
            var symbols = {{ symbols | tojson }};
            var weights = {{ EF_data["weight"] | tojson }};
            var userWeights = {{ sharpe_data["weight"] | tojson }};
            efficient_frontier(expectedReturns, standardDeviations, userStd, userReturn, symbols, weights, userWeights);
        </script>
    {% else %}
        <section class="overview">
            <p> {{message}} </p>
        </section>
    {% endif %}

{% endblock %}