{% extends 'user_base.html' %}

{% block title %} History {% endblock %}

{% block account %}
    <section class="graph">
        <h2>Transaction History</h2>
        <table>
            <thead>
                <!-- Header row -->
                <tr>
                    {% for key in keys %}
                    <td>
                        {{ key }}
                    </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Table content -->
                {% for row in range(row_num) %}
                <tr>
                    {% for key in keys %}
                    <td>
                        {{ order_data[key][row] }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}