{% extends 'user_base.html' %}

{% block title %} Investment {% endblock %}

{% block account %}
    {% if message %}
        <section class="overview">
            <p>{{ message }} </p>
        </section>
    {% else %}
        <section class="graph">
            <h2>Your Investment</h2>
            <div id="historicalPtfl"></div>
        </section>



        <section class="overview">
            <h2>Your Current Portfolio: </h2>
            <table>
                <thead>
                    <!-- Header row -->
                    <tr>
                        {% for key in keys %}
                        <td>
                            {{ key }}
                        </td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!-- Table content -->
                    {% for row in range(row_num) %}
                    <tr>
                        {% for key in keys %}
                        <td>
                            {{ ptfl_data[key][row] }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <script src="{{url_for('static', filename='plot.js')}}"></script>
        <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
        <script>
            var date = {{ plot_date | tojson }};
            var value = {{ plot_value | tojson }};
            hist_ptfl(date, value);
        </script>
    {% endif %}

{% endblock %}